<% include("../layout/header.ejs")  %>
<% include("../layout/footer.ejs")  %>
<h1> User registeration form  </h1>
<form action="" method="post">
    <input type="text"  name="name" placeholder="Enter the name" required>
    <br><br>
    <input type="email"  name="email" placeholder="Enter the email" required>
    <br><br>
    <input type="text"  name="name" placeholder="Enter the number" required>
    <br><br>
    <input type="file"  name="image"  required>
    <br><br>
    <input type="password"  name="password" placeholder="Enter the password" required>
    <br><br>
    <input type="submit"  value="register">
    <br><br>
</form>